<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "cn" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="b341aa93-c0f2-40b4-bee8-dff72e443562"></script>
    <script defer src="{{ "js/typing-egg.js" | relURL }}"></script>

</head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
