{{ define "main" }}
<h2><a href="{{ .Permalink }}" rel="link">{{.Title}}</a></h2>


{{ end }}


{{ define "footer" }}
<script type="text/javascript" src="/theme-main-1.js"></script>
<script>
//随机日志
function randomPost() {
  fetch('/sitemap.xml').then(res => res.text()).then(str => (new window.DOMParser()).parseFromString(str, "text/xml")).then(data => {
      let ls = data.querySelectorAll('url loc');
      let locationHref,locSplit;
      do {
          locationHref = ls[Math.floor(Math.random() * ls.length)].innerHTML
          locSplit = locationHref.split('/')[3] || ''
      } while (locSplit == '' || locSplit == 'tags' || locSplit == 'posts'); 
      location.href = locationHref
  })
}
</script>
{{ end }}