[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
[submodule "themes/cuisine-book"]
	path = themes/cuisine-book
	url = https://github.com/ntk148v/hugo-cuisine-book
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "themes/immmmm"]
	path = themes/immmmm
	url = https://github.com/lmm214/immmmm/
